.layout-main{
  margin: 25px auto 50px auto;
}

.main{
  margin: 25px auto
}

.leftContent{
  width: 66%;
  display: grid;
  grid-template-columns: 1fr  2fr;
  margin: 0 auto;
  gap: 35px;
}

.rightContent{
  width: 66%;
  display: grid;
  grid-template-columns: 0.75fr  2.25fr;
  margin: 0 auto;
  gap: 35px;
}
  